.label {
  position: relative;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #24252b;
  background: transparent;
  padding: 5px 3px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #24252B;
  &:focus {
    outline: none;
  }
}

.input:focus + .placeholder {
  top: -17px;
  font-size: 13px;
}

.placeholder {
  position: absolute;
  top: 5px;
  left: 3px;
  transition: 0.2s all ease;
}

.input:not(:placeholder-shown) + .placeholder {
  top: -17px;
  font-size: 13px;
}

.checkbox {
  position: relative;
  opacity: 0;
  z-index: -1;
  &:focus + .checked{
    border: 1px solid #4272ac;
  }
}

.checked {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #333540;
  background: transparent;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.icon {
    transform: translateX(2px) translateY(-4px);
    color: #169e1c;
    font-size: 22px;
}
