.listItem {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  background: rgb(232, 232, 232);
  display: flex;
  flex-direction: row;
  font-size: 16px;
  animation: slideUp 0.5s;
}

.rightItems {
  margin: 0 0 0 auto;
}
.user {
  margin-right: 15px;
  padding-left: 15px;
  opacity: 0.8;
  text-transform: capitalize;
}

.trash {
  opacity: 0.8;
  color: #344e48;
  padding: 2px;
  background: transparent;
  border: none;
}

.content {
  margin-left: 20px;
}
.contentChecked {
  margin-left: 20px;
  opacity: 0.8;
  text-decoration: line-through;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
