.title{
    text-align: center;
    color: #24252b;
    margin: 50px auto;
    font-size: 66px;
    font-family: 'Allura', cursive;
    @media screen and(min-width: 992px){
        margin: 30px auto;
    }
}
